.nav-item{
  color: white;
  margin: 5px;  
}


.signup{
    background-color: orange;
    color: white;
    border-radius: 25px;
    
    
}

.signup :hover{
    background-color: white;
    color: orange;
    border-radius: 25px;
}